body {
    background-color: antiquewhite;
}

div {
    width: 100%;
    height: 300px;
    border: 5px solod black;
    background-color: blue;
}

section {
    width: 100%;
    height: 300px;
    border: 5px solod yellowgreen;
    background-color: salmon;
}

h1 {
    color: white;
}